@font-face {
    font-family: 'Arvo';
    src: url('./assets/fonts/Arvo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MozillaText';
    src: url('./assets/fonts/MozillaText-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}